@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Righteous');
body{
font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.navbarstick {
  position: fixed;
  top: 1%;
  width: 99%;
}
.cont{
	margin-top: 0%;
	margin-left: 11%;
	margin-right: 20%;
	font-size: 4vw;
	font-style: oblique;
	font-family: serif;
}
.navbarstick + .cont {
  padding-top: 0%;
}
.buttons {
  position: relative;
  text-align: center;
  float:left;
  width: 20%;
  text-decoration: none;
  font-size: 90%;
  font-family: serif;
  display: block;
  padding: 1% 1%;
  color: white;
  margin-right: 0%;
  background-color: black;
}
a {
  border: lightblue;
  color: red;
  cursor: pointer;
}
div1{
	position: relative;
	color: black;
	font-family: 'Lobster', cursive;
	font-size: 4vw;
	text-shadow: 3px 3px blue;
}
img.image1{
	position: absolute;
	width:4%;
	height:auto;
	bottom: -27%;
	left: 1%
}
img.image2{
	position: absolute;
	border-radius:50%;
	width:4%;
	height:auto;
	bottom: -27%;
	left: 6%
}
img.image3{
	position: absolute;
	width:10%;
	top: 37%;
	left: 85%;
	box-shadow: 10px 6px 6px 1px;
}
img.image4{
	position: absolute;
	width:4%;
	height:auto;
	bottom: -26%;
	left: 11%
	}
img.image5{
	position: absolute;
	width: 20%;
	height: 25%;
	bottom:30%;
	left: 9%;
	box-shadow: 10px 6px 6px 1px;
}
img.image6{
	position: absolute;
	width: 20%;
	height: 25%;
	bottom:30%;
	left: 37%;
	box-shadow: 10px 6px 6px 1px;
}
img.image7{
	position: absolute;
	width: 20%;
	height: 25%;
	bottom:30%;
	left: 64%;
	box-shadow: 10px 6px 6px 1px;
}
img.image8{
	position: absolute;
	width: 20%;
	height: 25%;
	bottom:-15%;
	left: 9%;
	box-shadow: 10px 6px 6px 1px;
}
img.image9{
	position: absolute;
	width: 20%;
	height: 25%;
	bottom:-15%;
	left: 37%;
	box-shadow: 10px 6px 6px 1px;
}
img.image10{
	position: absolute;
	width: 20%;
	height: 25%;
	bottom:-15%;
	left: 64%;
	box-shadow: 10px 6px 6px 1px;
}
img.image11{
	position: absolute;
	width: 20%;
	margin-top: 0%;
	height: auto;
	box-shadow: 6px 6px 6px;
	border-radius: 50%;
}
.likes{
	position: absolute;
	font-size: 200%;
	color: orange;
}
p.footer{
	position: absolute;
	color:yellow;
	bottom:-30%;
	font-family: 'Righteous', cursive;
	left: 43%;
	font-size: 1vw;
}
.cngp{
	position: absolute;
	left: 30%;
	width: 40%;
	/*height: auto;*/
	box-shadow: 10px 6px 6px 1px;
}
table{
	margin-left: -10%;
	margin-top: 2%;
	text-align: center;
}
th{
	background-color: #4CAF50;
}
tr:hover{
	background-color: blue;
}
.changepictext{
	font-size: 4vw;
	text-align: center;
}
.image111{
	position: absolute;
	border-radius: 50%;
	left:20%;
	top:40%;
	width:15%;
}
.image112{
	position: absolute;
	border-radius: 50%;
	left:42%;
	top:40%;
	width:15%;
}
.image113{
	position: absolute;
	border-radius: 10%;
	left:65%;
	top:43%;
	width:15%;
}